snippet template "Template" i
#include <iostream>
$1
int main(){
using namespace std;

$0

return 0;
}
endsnippet

snippet for "For Loop" i
for($1;$2;$3){

$0

}
endsnippet

snippet inc "Include" i
#include <$0>
endsnippet
